html {
    cursor: url('../imagens/mata_mosquito.png') 16 16, auto;
}

body {
    background: url('../imagens/bg.jpg') no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scale(1);
}

.ladoB {
    transform: scale(-1);
}

.painel {
    background-color: #fff;
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

/*Página inicial*/
.nivel_jogo {
    border-radius: 6px;
    height: 35px;
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}